.Home{
  width: 99vw;
  display: flex;
  justify-content: space-evenly;
  .ContainerGenture{
    margin-top: 55px;
    width: 34vw;
    justify-content: space-evenly;
  }
  .ContainerContent{
    margin-top: 55px;
    width: 55vw;
    justify-content: space-evenly;
    .ContainerStory{
      display: flex;
    }
  }
}